input {
  border: none;
  background: none;
  border-bottom: 2px solid white;

  font-size: 32px;
}

input::placeholder {
  color: white;
}

input[type="submit"] {
  background-color: black;
  border: none;
  border-radius: 10px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.hidden {
  display: none;
}

.background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  object-fit: cover;

  z-index: -1;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#clock {
  color: white;
  font-size: 100px;
}

#quote {
  color: white;
  font-size: 2rem;
}

#weather {
  color: white;
  font-size: 2rem;
}
