input {
  border: none;
  background: none;
  border-bottom: 2px solid white;

  font-size: 50px;
  color: white;
  outline: white;
}

input::placeholder {
  color: white;
}

input[type="submit"] {
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  text-align: center;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  background-color: white;
  border-radius: 10px;
  color: white;
}

.hidden {
  display: none;
}

.background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  object-fit: cover;

  z-index: -1;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -20%);
}

#clock {
  color: white;
  font-size: 160px;
}

#greeting {
  color: white;
  font-size: 80px;
}

#todo-input {
  width: 800px;
}

#todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 40px;
  color: white;

  list-style: none;
}

#todo-list li {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

#todo-list button {
  margin-left: 20px;
}

#quote {
  position: absolute;
  bottom: 20px;
  right: 20px;

  color: white;
  font-size: 2rem;
}

#weather {
  position: absolute;
  top: 20px;
  right: 20px;

  color: white;
  font-size: 2rem;
}
